name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build-lab1:

    runs-on: ubuntu-latest

    steps:
    - name: clone repo
      uses: actions/checkout@v1
    
    - name: install valgrind and cpplint
      run: |
        sudo apt install -y valgrind
        sudo pip install cpplint
    
    - name: build and test
      run: |
        for d in */ ; do
          cd "$d"
          make
          cd ..
